* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;

  background-color: hsla(228, 45%, 44%, 0.205);
}
.text {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-top: 24rem;
  margin-left: 72rem;
}
img {
  width: 220px;
  border-radius: 10px;
}
.text h3 {
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text p {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.attribution {
  margin-top: 20px;
}
